body {
  background-color: green;
  color: white;
}
.container {
  margin-bottom: 50px;
  background-color: darkred;
  text-align: center;
  height: 300px;
  width: auto;
  max-width: 960px;
  color: white;
}
.title {
  font-size: 1.9em;
  font-weight: bolder;
}
.gold {
  font-size: 1.1em;
  color: rgba(255, 255, 0, 0.8);
}

#pregame-message {
  font-size: 1.4em;
  padding-bottom: 5px;
}
#pregame-message-box {
  height: 18.2px;
}

#word-format{
  text-transform: capitalize;
}
#guess-field {
  
}
#wrong-letter-box {
  text-align: left;
  font-size: 1.8em;
}
